/* Estilo para el inicio de sesión */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #E1D4C2; 
    color: #291C0E; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100vh;
    padding: 0 15px;
}

h1 {
    font-size: 2.5rem;
    color: #6E473B; 
    margin-bottom: 40px; 
}

form {
    background-color: #BEB5A9;
    border-radius: 8px;
    padding: 30px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    align-items: center;
}

label {
    font-size: 1rem;
    color: #291C0E; 
    margin-bottom: 10px;
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #A78D78; 
    border-radius: 4px;
    font-size: 1rem;
    color: #291C0E;
    background-color: #F5F1E3; 
}

input:focus {
    border-color: #6E473B; 
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #6E473B; 
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #291C0E; 
}

#status {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #A78D78; 
}

/* Estilo de la galería */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #E1D4C2; 
}

.gallery-item {
    border: 1px solid #6E473B; 
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    background-color: #A78D78; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(110, 71, 59, 0.3);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-item p {
    padding: 10px;
    font-size: 16px;
    color: #291C0E; 
    background-color: #BE85A9; 
    margin: 0;
}


/* Estilos para el menu */


